certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
idna==3.10
redis==5.2.1
requests==2.32.3
spotipy==2.25.0
urllib3==2.3.0
ytmusicapi==1.10.0
google-auth==2.35.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0